<launch>
	 <arg name="rviz" default="false"/>
		<group if="$(arg rviz)">
		    <param name="use_sim_time" value="true"/>
		    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find robot_vision)/rviz_cfg/rviz.rviz" />
		</group>

	<arg name="feature" default="true"/>
	<!-- test image path-->
	<param name="path1" type="string" value="/home/yanlong658/ITRI_ws/image/lab1.jpg"/>
	<param name="path2" type="string" value="/home/yanlong658/ITRI_ws/image/lab2.jpg" />
	<!-- change your image topic path/--> 
	<param name="path_topic1" type="string" value="/arducam/camera/image_raw" />
	<param name="path_topic2" type="string" value="/arducam/camera/image_raw" />
	<node pkg="robot_vision" type="initial" name="initial" launch-prefix="taskset -c 3" output="screen"/>
</launch>

