<launch>
    <include file="$(find usb_cam)/launch/usb_cam.launch"/>
    <group ns="camera1">
        <node name="rgb2gray_cam1" pkg="robot_vision" type="grayImage" output="screen">
            <param name="sub_image_path" type="str" value="/camera1/image_view/output"/>
        </node>
        <node name="contour_location" pkg="robot_vision" type="location" output="screen">
            <param name="sub_image_path" type="str" value="/camera1/image_view/output"/>
        </node>
    </group>
    <group ns="camera2">
        <node name="rgb2gray_cam2" pkg="robot_vision" type="grayImage" output="screen">
            <param name="sub_image_path" type="str" value="/camera2/image_view/output"/>
        </node>
        <node name="contour_location" pkg="robot_vision" type="location" output="screen">
            <param name="sub_image_path" type="str" value="/camera2/image_view/output"/>
        </node>
    </group>
</launch>
